
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;

    font-family: Lato;
    color: #4b484c;
}

a.dark {
    color: #4C494C;
}

.tagline {
    margin: auto;
    width: 700px;
    font-family: Rubik;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    color: #4c494c;

}

.copy {
    margin: 2em auto;
    width: 700px;
    font-size: 18px;
    line-height: 1.67;
    text-align: justify;
    color: #4c494c;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.tagboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    margin: 0;
    width: 100%;
    text-align: center;
    background-size: 100% auto;
    background: url('./images/header.png') no-repeat top;
    height: 310px;
}

.moto {
    margin: 10px auto;
    width: 312px;
    height: 41px;
    font-family: Rubik;
    font-size: 33px;
    font-weight: 300;
    line-height: 1.21;
}

.logo {
    padding-top: 105px;
}

.tagbox {
    margin: 10px 1em 0 1em;
    width: 340px;
    height: 226px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.tagbox-copy {
    margin: auto;
    height: 57px;
    font-family: Rubik;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.36;
    text-align: center;
    color: #4c494c;
}

.tagbox-1-copy {
    width: 256px;
}

.tagbox-2-copy {
    width: 214px;
}

.tagbox-3-copy {
    width: 152px;
}

.tagbox-image {
    display: block;
    margin: 39px auto;
}

.main-copy {
    margin-top: 120px;
}

.contact-us {
    background-image: url('./images/contact-us-line-topright.png'), url('./images/contact-us-line-bottomleft.png');
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    margin: 70px auto 0 auto;
    width: 1080px;
    height: 590px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.contact-us-header {
    margin: 42px auto;
    width: 176px;
    height: 38px;
    font-family: Rubik;
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #4c494c;
}

.offices {
    margin: 120px auto 61px auto;
    width: 750px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    background: #ffffff url('./images/office-line.png') no-repeat top right;
}

.contact-us-form {
    width: 50%;
    margin: auto;
}


@media screen and (max-width: 1200px) {
    .contact-us {
        width: 750px;
    }
}


@media screen and (max-width: 800px) {
    .offices {
        width: 450px;
    }

    .contact-us {
        width: 550px;
    }

    .tagline {
        width: 500px;
        font-size: 35px;

    }

    .copy {
        width: 500px;
        font-size: 14px;
    }


    .contact-us-form {
        width: 90%;
    }
}


@media screen and (max-width: 400px) {
    .offices {
        width: 300px;
    }

    .contact-us {
        width: 300px;
    }

    .tagline {
        width: 300px;
        font-size: 25px;

    }

    .copy {
        width: 300px;
        font-size: 14px;
    }
}


.offices-header {
    margin: 42px auto;
    width: 176px;
    height: 38px;
    font-family: Rubik;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.19;
    text-align: center;
    color: #4c494c;
}

.offices-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.office-logo-container {
    height: 32px;
    align-items: flex-end;
    display: flex;
}

.office-logo-container img {
    margin: auto auto 0 auto;
    display: block;

}

.office-text {
    margin: 20px auto;
    width: 89px;
    height: 22px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    text-align: center;
}

.office-address {
    margin: 8px auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.21;
    text-align: center;
}

.office {
    margin: 10px 80px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-size: 100% auto;
    background: url('./images/footer.png') no-repeat bottom;
}

.footer-text {
    margin: 0 auto 10px auto;
}


.form-row label {
    width: 48px;
    height: 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.28;
    color: #4c494c;
}

.form-row, .form-button-row {
    margin-top: 1em;
}

.form-row input, .form-row textarea {
    padding: 3px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
    background-color: #f6f6f6;
    color: #000000;
    border: 1px solid #f6f6f6;
}

.contact-us-submit-button {
    padding: 0 25px;
    height: 40px;
    border-radius: 150px;
    background-image: linear-gradient(to left, #fdef37, #f2cb15);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    color: #4c494c;
    border-width: 0;
    cursor: pointer;

}

#contact-complete {
    display: none;
}

#contact-failed {
    display: none;
}